<div class="superior"><h1 style="justify-content: center;">La masa crítica</h1></div>

<div class="container">
  
  <div class="filters">
    <h2>Filtros</h2>
    
    <!-- Filtro por categoría -->
    <label for="category">Seleccionar categoría:</label>
    <select id="category" multiple [(ngModel)]="selectedCategoryId" (change)="filterItemsByCategory()">
      <option [value]="0">Todas las categorías</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  
    <!-- Filtros por precio -->
    <label for="minPrice">Precio mínimo:</label>
    <input type="number" id="minPrice" [(ngModel)]="minPrice" (change)="filterItems()">
  
    <label for="maxPrice">Precio máximo:</label>
    <input type="number" id="maxPrice" [(ngModel)]="maxPrice" (change)="filterItems()">
  
    <button (click)="filterItems()">Aplicar Filtros</button>
  </div>

  <div class="products">
    <h2>Productos</h2>
    <div *ngFor="let item of items" class="product-item">
      <h3>{{ item.name }}</h3>
      <p>Precio: {{ item.price }} </p>
      <p>Cantidad: {{ item.stock }}</p>
      <button (click)="addToCart(item)">Agregar al carrito</button>
      <button (click)="deleteToCart(item)">Eliminar del carrito</button>
    </div>
  </div>

  <div class="cart">
    <h2>Carrito</h2>
    <div *ngFor="let cartItem of cart">
      <h3>{{ cartItem.item.name }}</h3>
      <p>Precio: {{ cartItem.item.price | number: '1.2-2' }}</p>
      <p>Cantidad:
        <input type="number" [(ngModel)]="cartItem.quantity" (change)="updateCartItem(cartItem)" min="1" max="{{ cartItem.item.stock }}">
      </p>
      <button (click)="removeFromCart(cartItem.item)">Eliminar del carrito</button>
    </div>
    <h3>Total: {{ totalAmount() | number: '1.2-2' }}</h3>
    <button (click)="confirmCart()" style="width: 100%;">Proceder al checkout</button>
  </div>
</div>
