<h2>Confirmar Compra</h2>
<p>Revise los productos en su carrito y proporcione la información necesaria para completar la compra.</p>

<div *ngIf="checkoutData">
    <h2>Detalles de la Compra</h2>
    
    <div>
      <strong>Fecha:</strong> {{ checkoutData.date | date: 'short' }}
    </div>
    
    <div>
      <strong>Total:</strong> {{ checkoutData.total | currency }}
    </div>
    
    <h3>Detalles de la Venta</h3>
    <table>
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Cantidad</th>
          <th>Precio Unidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of checkoutData.saleDetails">
          <td>{{ detail.itemId }}</td>
          <td>{{ detail.quantity }}</td>
          <td>{{ detail.price | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
<button (click)="confirmPurchase()">Confirmar</button>
<button (click)="cancelPurchase()">Cancelar</button>