<!-- login.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-md w-full p-8 bg-white border border-gray-300 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold text-center mb-4 text-indigo-600">Bienvenido a LA MASA CRITICA</h1>
    <h2 class="text-xl font-semibold text-center mb-6 text-gray-700">Iniciar sesión</h2>
    <form (ngSubmit)="login()" class="space-y-6">
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Nombre de usuario:</label>
        <input type="text" id="username" [(ngModel)]="credentials.username" name="username" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
        <input type="password" id="password" [(ngModel)]="credentials.password" name="password" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <button type="submit"
        class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Login
      </button>
    </form>
    <div *ngIf="errorMessage" class="mt-4 text-center text-red-600">{{ errorMessage }}</div>
    <div class="mt-6 text-center">
      <p class="text-sm text-gray-600">¿No tienes una cuenta?</p>
      <button (click)="register()"
        class="mt-2 w-full py-2 px-4 bg-gray-600 text-white font-semibold rounded-md shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        Registrarse
      </button>
    </div>
  </div>
</div>